.TestResult {
  width: 260px;
  padding: 16px;
  text-align: center;
  border: 1px solid #eee;
  box-shadow: 0 2px 3px #ccc;
  margin: 10px;
  box-sizing: border-box;
  cursor: pointer;
}

.TestResult:hover,
.TestResult:active {
  background-color: #c0ddf5;
}

.pageNumber {
  color: #ccc;
}

.percentage {
  margin: 10px;
  font-size: xx-large;
  font-weight: bold;
}
